<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}CryptoPortfolio{% endblock title %}</title>
	<!-- <link rel='stylesheet' type='text/css' href='static/css/style.css'> -->
</head>

<body>
{% block body %}
	<p>This is main base page.</p>
{% endblock body %}
</body>

<!-- ==================== Scripts ==================== -->
<!-- <script src="{{ url_for('static', filename='js/libraries/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libraries/d3.min.js') }}"></script>
 -->

<scripts>
	<script type="text/javascript" src='/static/js/libraries/jquery-3.3.1.min.js'></script>
	<script type="text/javascript" src='/static/js/libraries/d3.min.js'></script>
	{% block scripts %}
	{% endblock scripts %}
	<script type="text/javascript" src='/static/js/main.js'></script>
</scripts>
</html>